@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Jua&display=swap');

* {
    background-color: #44dccf;
}


#all {
    display: flex;
    /* display: flex;
    flex-direction: column; */
}
#mani {
    display: flex;
}
#head {
    width: 100%;  
}

#contein {
    width: 1200px;
}
#footer {
}
ul {
    flex: auto;
}
iframe {
    flex: auto;
}


#nav ul {
    list-style-type: none;
    text-decoration-color: black;
}

#nav a {
    text-decoration: none;
    text-decoration-color: black;
    font-family: 'Dongle', sans-serif;
    font-family: 'Jua', sans-serif;
}

.link {
    text-decoration-color: aquamarine;
}

#nav a:hover {
    color: azure;
}

#gegeek {
    animation-name: gegls;
    animation-duration: 1s;
    width: 80px;
}

.contein {
    flex-direction: column;
}